#nav-lateral:checked~.nav {
    left: 0px;
}

#nav-lateral:checked~.sombra-nav {
    left: 0px;
    display: block;
}

.sombra-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
}

.nav {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    padding: 20px;
    transition: all .5s ease;
}

.modulo {
    width: 100%;
    height: fit-content;
}

.modulo .modulo-nombre {
    width: 100%;
    height: 40px;
    display: grid;
    align-items: center;
}

.modulo .contenedor-opciones {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 5px inset #898989;
    display: grid;
}

.modulo .contenedor-opciones .opcion {
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    display: grid;
    align-items: center;
}

.modulo .contenedor-opciones .opcion.active {
    background-color: #00000033;
}

.modulo .contenedor-opciones .opcion.opcion.active p {
    padding-left: 20px;
}