.contenedor-tu-pedido {
   
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: max-content;
    border-radius: 10px;
    box-shadow: 1px 0px 5px #898989;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
}
@media (max-width: 1000px) {
.contenedor-tu-pedido {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
}
.contenedor-tu-pedido .estado {
    width: 250px;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 80px;
}

.contenedor-tu-pedido .estado .contenedor_estados {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.contenedor-tu-pedido .estado .contenedor_estados #cambiar_estado {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: #fff;
}

.contenedor-tu-pedido .estado .contenedor_estados button {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--btn-blue);
    color: #fff;
    font-size: 1rem;
    border-radius: 7px;
}

.contenedor-tu-pedido .estado>p {
    width: 100%;
    font-size: 2.2rem;
    /* font-weight: bold; */
    text-align: center;
}

.contenedor-tu-pedido .estado .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px inset #898989;
    display: grid;
    grid-template-rows: 1fr 50px;
    place-items: center;
}

.contenedor-tu-pedido .estado .img i {
    font-size: 5rem;
    color: #898989;
}

.contenedor-tu-pedido .datos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 50px 50px;
    grid-template-areas:
        "hp hp"
        "tools tools"
        "usuario npedido"
        "fecha hora";
}
.contenedor-tu-pedido .datos2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "hp hp"
        "tools tools"
        "fecha hora";
}
.contenedor-tu-pedido .datos .hp {
    width: 100%;
    grid-area: "hp";
    grid-column: 1/3;
    font-size: 1.5rem;
    display: grid;
    align-items: center;
}

.contenedor-tu-pedido .datos .herramientas {
    grid-area: "tools";
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px inset #898989;
    padding: 15px;
    overflow-y: scroll;
}

.contenedor-tu-pedido .datos .herramientas .herramienta {
    width: 100%;
    height: 30px;
}
.contenedor-tu-pedido .datos .herramientas .herramienta input[type="checkbox"]:checked + label {
    background-color: lightgreen;
}

.contenedor-tu-pedido .datos p {
    height: 100%;
    display: flex;
    align-items: center;
}

.contenedor-tu-pedido .datos .usuario {
    grid-area: "usuario";
}

.contenedor-tu-pedido .datos .nPedido {
    grid-area: "npedido";
}

.contenedor-tu-pedido .datos .fecha {
    grid-area: "fecha";
}

.contenedor-tu-pedido .datos .hora {
    grid-area: "hora";
}


.contenedor-tu-pedido .datos2 .hp {
    width: 100%;
    grid-area: "hp";
    grid-column: 1/3;
    font-size: 1.5rem;
    display: grid;
    align-items: center;
}

.contenedor-tu-pedido .datos2 .herramientas {
    grid-area: "tools";
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px inset #898989;
    padding: 15px;
    overflow-y: scroll;
}

.contenedor-tu-pedido .datos2 .herramientas .herramienta {
    width: 100%;
    height: 30px;
}
.contenedor-tu-pedido .datos2 .herramientas .herramienta input[type="checkbox"]:checked + label {
    background-color: lightgreen;
}

.contenedor-tu-pedido .datos2 p {
    height: 100%;
    display: flex;
    align-items: center;
}

.contenedor-tu-pedido .datos2 .usuario {
    grid-area: "usuario";
}

.contenedor-tu-pedido .datos2 .nPedido {
    grid-area: "npedido";
}

.contenedor-tu-pedido .datos2 .fecha {
    grid-area: "fecha";
}

.contenedor-tu-pedido .datos2 .hora {
    grid-area: "hora";
}