:root {
    /* Colores */
    --fondo: #fff;
    --objetos: #f8f8f8;
    --objetosOscuro: #e8ecee;
    --objetosOscurosMas: #6c747e;
    --borde: #dfdfdf;

    /* Colores */
    --btn-red: #e80000;
    --btn-green: #00bb35;
    --btn-blue: #009af9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}