.main {
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    padding: 0 20px;
}



.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de fondo semitransparente */
}

.modal-content {
    background-color: #fefefe;
    width: 90%;
    max-width: 700px;

    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #888;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 50px 200px 50px;
    grid-template-areas:
        "cerrar-modal cerrar-modal"
        "img-modal nombre-modal"
        "img-modal datos-modal"
        "cantidad-modal botones-modal";
    column-gap: 5px;
}

.cont-modal-img {
    grid-area: "img-modal";
    grid-column: 1/2;
    grid-row: 2/4;
}

.cont-modal-img .modal-img {
    height: 100%;
}

.cerrar-button {
    grid-area: "cerrar-modal";
    grid-column: 1/3;
    grid-row: 1/2;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.cerrar-button:hover,
.cerrar-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-nombre {
    grid-area: "nombre-modal";
    grid-column: 2/3;
    grid-row: 2/3;
}

.modal-datos-herramienta {
    grid-area: "datos-modal";
    grid-column: 2/3;
    grid-row: 3/4;
}

.modal-cantidad {
    grid-area: "cantidad-modal";
    grid-column: 1/2;
    grid-row: 4/5;

    display: flex;
    align-items: center;
    gap: 20px;
}

.modal-botones {
    grid-area: "botones-modal";
    grid-column: 2/3;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.modal-cantidad .cont {
    display: flex;
}

.modal-cantidad .cont input {
    border: none;
    border: 1px solid #000;
    width: 50px;
    text-align: center;
    outline: none;
}

.modal-cantidad .cont button {
    background: none;
    border: none;
    padding: 10px;
}

.modal-botones button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.modal-botones button:hover {
    box-shadow: 0px 0px 5px #888;
}

.modal-botones .modal-añadir, .modal-botones .modal-añadir2 {
    background-color: var(--btn-blue);
}

.modal-botones .modal-cancelar {
    background-color: var(--btn-red);
}


.contenedor-lista-herramientas {
    width: 100%;
    display: grid;
    gap: 10px;
}

.contenedor-lista-herramientas .herramienta {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px #898989;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 100px;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
}

.contenedor-lista-herramientas .herramienta .img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px inset #898989;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-lista-herramientas .herramienta .img i {
    font-size: 5rem;
    color: #898989;
}

.contenedor-lista-herramientas .herramienta .datos {
    width: 100%;
    height: 100%;
}

.contenedor-lista-herramientas .herramienta .cantidad {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}



/* Lista de herramientas */
.contenedor-herramientas-pedidas {
    display: grid;
    gap: 20px;
}

.contenedor-herramientas-pedidas .herramienta {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 0px 5px #898989;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
        "img nomb nomb"
        "img datos datos"
        "img cant btns";
    gap: 20px;
}

.contenedor-herramientas-pedidas .img {
    grid-area: "img";
    grid-row: 1/4;
    width: 300px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px inset #898989;
    display: grid;
    place-items: center;
}

.contenedor-herramientas-pedidas .img img {
    width: 100%;
}

.contenedor-herramientas-pedidas .img i {
    font-size: 5rem;
    color: #898989;
}

.contenedor-herramientas-pedidas .nombre-herramienta {
    grid-area: "nomb";
    grid-column: 2/4;
    display: grid;
    align-items: center;
    font-size: 1.8rem;
}

.contenedor-herramientas-pedidas .datos {
    grid-area: "datos";
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
    column-gap: 20px;
}

.contenedor-herramientas-pedidas .cantidad {
    grid-area: "cant";
    display: grid;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.contenedor-herramientas-pedidas .btns {
    grid-area: "btns";
    display: flex;
    align-items: center;
    gap: 20px;
}

.contenedor-herramientas-pedidas .btns button {
    border: none;
    outline: none;
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
}

.contenedor-herramientas-pedidas .btns button:first-child {
    background-color: var(--btn-blue);
}

.contenedor-herramientas-pedidas .btns button:last-child {
    background-color: var(--btn-red);
}





/* Tu pedido */
#contenedor-tu-pedido {
    display: grid;
    gap: 20px;
}

.contenedor-tu-pedido {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 0px 5px #898989;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.contenedor-tu-pedido .estado {
    width: 250px;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.contenedor-tu-pedido .estado>p {
    width: 100%;
    font-size: 2.2rem;
    /* font-weight: bold; */
    text-align: center;
}

.contenedor-tu-pedido .estado .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px inset #898989;
    display: grid;
    grid-template-rows: 1fr 50px;
    place-items: center;
}

.contenedor-tu-pedido .estado .img i {
    font-size: 5rem;
    color: #898989;
}

.contenedor-tu-pedido .datos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-template-areas:
        "hp hp"
        "tools tools"
        "fecha hora";
}

.contenedor-tu-pedido .datos .hp {
    width: 100%;
    grid-area: "hp";
    grid-column: 1/3;
    font-size: 1.5rem;
    display: grid;
    align-items: center;
}

.contenedor-tu-pedido .datos .herramientas {
    width: 100%;
    height: 220px;
    grid-column: 1/3;
    border-radius: 5px;
    box-shadow: 0px 0px 4px inset #898989;
    padding: 15px;
    overflow-y: scroll;
}

.contenedor-tu-pedido .datos .herramientas .herramienta {
    width: 100%;
    height: 30px;
}

.contenedor-tu-pedido .datos .fecha {
    grid-area: "fecha";
}

.contenedor-tu-pedido .datos .hora {
    grid-area: "hora";
}